<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ importmap('app') }}{% endblock %}
    </head>
    <body data-bs-theme="dark">
    {% include './partials/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            
    </body>
</html>
